# Python
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python

# IDEs
.idea
.vscode
.DS_Store

# Git
.git
.gitignore

# CI/CD
.github

# Documentation
docs/
*.md

# Tests
tests/
pytest.ini
.coverage
htmlcov/
.pytest_cache/

# Other
.envrc
.claude
