# macOs only https://github.com/sorah/envchain
# https://github.com/settings/tokens
# envchain --set github GITHUB_APP_ID
export GITHUB_APP_ID=$(envchain github env | grep GITHUB_APP_ID | cut -d'=' -f2)
# envchain --set github GITHUB_APP_PRIVATE_KEY
export GITHUB_APP_PRIVATE_KEY=$(cat ~/.ssh/ivanka-test-app.2025-12-24.private-key.pem | base64)
# envchain --set github GITHUB_WEBHOOK_SECRET
export GITHUB_WEBHOOK_SECRET=$(envchain github env | grep GITHUB_WEBHOOK_SECRET | cut -d'=' -f2)
# SMEE_URL="https://smee.io/your-smee-endpoint"
# envchain --set github SMEE_URL
export SMEE_URL=$(envchain github env | grep SMEE_URL | cut -d'=' -f2)
export SMEE_TARGET="http://api:8000/webhooks/github"
# envchain --set github BLACKDUCK_TOKEN
export BLACKDUCK_TOKEN=$(envchain github env | grep BLACKDUCK_TOKEN | cut -d'=' -f2)
export BRIDGE_BLACKDUCKSCA_TOKEN=${BLACKDUCK_TOKEN}
