# macOs only https://github.com/sorah/envchain
# https://github.com/settings/tokens
# envchain --set github GITHUB_APP_ID
GITHUB_APP_ID=$(envchain github env | grep GITHUB_APP_ID | cut -d'=' -f2)
# SMEE_URL="https://smee.io/your-smee-endpoint"
# envchain --set github SMEE_URL
SMEE_URL=$(envchain github env | grep SMEE_URL | cut -d'=' -f2)
SMEE_TARGET="http://web-app:8000/api/webhooks/github"
