[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
fastapi-githubapp = "*"
gunicorn = "*"
GitPython = "*"
blackduck= "*"
requests = "*"
redis = "*"
pandas = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-mock = "*"
black = "*"
httpx = "*"

[requires]
python_version = "3.14"
